<ion-app>
  <ion-router-outlet id ="main"></ion-router-outlet>
   <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu--API</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list >
        <ion-item>
          <ion-tabs>
          <ion-tab-button tab="home">
            <ion-icon name="people-circle-outline"></ion-icon>
            <ion-label>Personajes</ion-label>
            
          </ion-tab-button>
          </ion-tabs>
        </ion-item>
        <ion-item>
          <ion-tabs>
          <ion-tab-button tab="locations">
            <ion-icon name="planet-outline"></ion-icon>
            <ion-label>Ubicaciones</ion-label>
            
          </ion-tab-button>
          </ion-tabs>
        </ion-item>
        <ion-item>
          <ion-tabs>
          <ion-tab-button tab="episodes">
            <ion-icon name="duplicate-outline"></ion-icon>
            <ion-label>Episodios</ion-label>
            
          </ion-tab-button>
          </ion-tabs>
        </ion-item>
        <ion-item>
          <ion-tabs>
          <ion-tab-button tab="citas">
            <ion-icon name="pulse-outline"></ion-icon>
            <ion-label>Citas</ion-label>
          </ion-tab-button>
          </ion-tabs>
        </ion-item>
       
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-tabs>
   
  </ion-tabs>
  

      

